html
  head
    title=title
    script(type="text/javascript", src="../libs/threejs/three.js")
    script(type="text/javascript", src="../libs/threejs/OrbitControls.js")
    script(type="text/javascript", src="../libs/threejs/topology.js")
    script(type="text/javascript", src="../libs/threejs/helvetiker_regular.typeface.js")

    script(type='module', src="javascripts/onion3dGraph.js")
  body