function_name: "{{ function_name }}"
networking_port: "{{ networking_port }}"
where: "{{ where }}"
output_interval: "{{ output_interval }}"
post:
  ipaddr: "{{ post_ipaddr }}"
  kafka_port: "{{ post_kafka_port }}"
  kafka_topic: "{{ post_kafka_topic }}"
